<h1>CARRITOS</h1>
<br>
<h2>CARRITOS DE COMPRAS</h2>
<hr>
<ul>
  {{#if carts}}
    <li>
      <p><strong>Carrito de:</strong> {{carts.name}}</p>
      <ul>
        {{#each carts.carrito}}
          <li>
            <p><strong>Producto:</strong> {{producto.title}}</p>
            <p><strong>Precio:</strong> ${{producto.price}}</p>
          </li>
        {{/each}}
      </ul>
    </li>
  {{else}}
    <li>
      <p>{{message}}</p>
    </li>
  {{/if}}
</ul>
<br>
<br>
<a href="/">HOME</a>


