<h1>CARRITOS</h1>
<br>
<h2>CARRITOS DE COMPRAS</h2>
<hr>
{{#if cart}}
  {{#each cart.carrito}}
    <p><strong>Producto:</strong> {{this.producto.title}}</p>
    <p><strong>Precio:</strong> ${{this.producto.price}}</p>
    <p><strong>Cantidad:</strong> {{this.quantity}}</p>
    <p><strong>Subtotal:</strong> ${{this.producto.price * this.quantity}}</p>
    <br>
  {{/each}}
{{else}}
      <p>{{message}}</p>

{{/if}}
</ul>
<br>
<br>
<a href="/producto">Productos</a>


