<script>
  console.log("eveee"{{usuario}});
</script>

<h1>PERFIL DE USUARIO</h1>
<hr>
<br>
<h2>Perfil de {{usuario.nombre}}</h2>
<hr>

<p>Nombre: {{usuario.nombre}}</p>
<p>Apellido: {{usuario.apellido}}</p>
<p>Edad: {{usuario.edad}}</p>
<p>Correo Electronico: {{usuario.email}}</p>
<p>Rol: {{usuario.rol}}</p>
<p>Carrito:{{usuario.cart}}</p>
