<div class="container">
  <h2>Productos</h2>
  <div class="row">

    {{#each products}}
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text"><strong>Precio:</strong> ${{price}}</p>
          <button class="btn btn-primary addToCartBtn" data-cart-id="{{../usuario.cart}}" data-product-id="{{_id}}"
            data-quantity="1">Agregar al carrito</button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="row">
    <div class="col-md-12 text-center" >
      <a 
        {{#if hasPrevPage}}href="/producto?page=1&limit={{limit}}"{{/if}} 
        class="btn btn-primary {{#unless hasPrevPage}}disabled{{/unless}}" 
      >
        Primera
      </a>
      <a 
        {{#if hasPrevPage}}href="/producto?page={{prevPage}}&limit={{limit}}"{{/if}}
        class="btn btn-primary {{#unless hasPrevPage}}disabled{{/unless}}" 
      >
        <
      </a>

      <a 
        {{#if hasNextPage}} href="/producto?page={{nextPage}}&limit={{limit}}" {{/if}}
        class="btn btn-primary {{#unless hasNextPage}}disabled{{/unless}}" 
      >
        >
      </a>
      <a 
        {{#if hasNextPage}}href="/producto?page={{totalPages}}&limit={{limit}}" {{/if}}
        class="btn btn-primary {{#unless hasNextPage}}disabled{{/unless}}" 
      >
        Última
      </a>
    </div>
  </div>
</div>