<div class="container">
  <h2>Productos</h2>
  <div class="row">

    {{#each products}}
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text"><strong>Precio:</strong> ${{price}}</p>
            <button
              class="btn btn-primary addToCartBtn"
              data-cart-id="{{../usuario.cart}}"
              data-product-id="{{_id}}"
              data-quantity="1"
            >Agregar al carrito</button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="row">
    <div class="col-md-6">
      <a href="/products?page=1&limit={{limit}}" class="btn btn-primary">Página
        1</a>
      {{#if hasPrevPage}}
        <a
          href="/products?page={{prevPage}}&limit={{limit}}"
          class="btn btn-primary"
        >Anterior</a>
      {{else}}
        <span>No hay página anterior</span>
      {{/if}}
      {{#if hasNextPage}}
        <a
          href="/products?page={{nextPage}}&limit={{limit}}"
          class="btn btn-primary"
        >Siguiente</a>
      {{else}}
        <span>No hay página siguiente</span>
      {{/if}}
      <a
        href="/products?page={{totalPages}}&limit={{limit}}"
        class="btn btn-primary"
      >Última Página</a>
    </div>
  </div>
</div>