<h1>PERFIL DE USUARIO</h1>
<hr>
<br>
<h2>Perfil de {{user.nombre}}</h2>
<hr>
<p>Nombre: {{user.nombre}}</p>
<p>Apellido: {{user.apellido}}</p>
<p>Edad: {{user.edad}}</p>
<p>Correo Electronico: {{user.email}}</p>
<p>Rol: {{user.rol}}</p>
<P>Carrito:{{user.cart_id}}</P>
